<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/css/acerca.css">
    <title>Acerca de Nosotros</title>
</head>
<body>
    <%- include('templates/header') %>

    <div class="acerca-container">
        <div class="acerca-content">
            <div class="acerca-text">
                <h1>Misión</h1>
                <p>Nuestra empresa de desarrollo de aplicaciones se esfuerza por simplificar la vida de las personas y mejorar la eficiencia de las empresas a través de soluciones de software inteligentes y personalizadas.</p>
        
                <h1>Visión</h1>
                <p>Ser la empresa líder en el desarrollo de aplicaciones personalizadas, transformando la forma en que las empresas interactúan con sus clientes y optimizando sus procesos.</p>
        
                <h1>Objetivos de la Empresa</h1>
                <ul>
                    <li>Diseñar y desarrollar aplicaciones web de alta calidad que cumplan con los estándares y requerimientos actuales del mercado.</li>
                    <li>Brindar soluciones innovadoras y personalizadas a los clientes, adaptadas a sus necesidades específicas y objetivos comerciales.</li>
                </ul>
            </div>
            <div class="acerca-image">
                <img src="/web/images/team.jpg" alt="Imagen de la empresa" width="100%">
            </div>
        </div>
        
        <div class="slider-box">
            
            <ul>
                <li>
                    <img src="/web/images/logot.png" alt="" >
                </li>
                <li>
                    <img src="/web/images/logo-empresa.png" alt="">
                </li>
            </ul>
        </div>
    </div>
    
    <%- include("templates/footer"); %>
</body>
</html>
