<!DOCTYPE html>
<html lang="en">

<!-- Encabezado (header) -->
<%- include('templates/header') %>

<body>
 

  <!-- Contenido de la página -->
  <main>
    <h1>No hay productos disponibles en este momento.</h1>
    <p>Regresa más tarde para ver nuevas adiciones a nuestra colección.</p>
  </main>

  <!-- Pie de página (footer) -->
  <%- include('templates/footer') %>

  <!-- Enlaza aquí los archivos CSS y JS que necesites -->
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/script.js"></script>
</body>

</html>
