<footer>
  <div class="footer-container">
    <p>&copy; 2023 Mercadito de Lele. Todos los derechos reservados.</p>
    <div class="social-links">
      <a href="https://www.instagram.com/mercaditodelele" target="_blank" rel="noopener noreferrer"><img src="/web/instagram.png" alt="Instagram"></a>
      <a href="https://www.facebook.com/tu_usuario_facebook" target="_blank" rel="noopener noreferrer"><img src="/web/facebook.png" alt="Facebook"></a>
      <a href="https://twitter.com/tu_usuario_twitter" target="_blank" rel="noopener noreferrer"><img src="/web/twitter.png" alt="Twitter"></a>
    </div>
  </div>
  <link rel="stylesheet" href="/web/css/footer.css">
</footer>
