/* Estilos mejorados para la vista de perfil */
*{
  font-family: Arial, sans-serif;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  
}

.container{

  margin-top: 30px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.profile-picture {
  text-align: center;
  position: relative;
}

.profile-bar {
  position: absolute;
  width: 100%;
  height: 8px;
  
  top: 0;
  left: 0;
}


.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.profile-picture img:hover {
  transform: scale(1.05);
}

.user-box {
  background-color: #ffffff; /* Color del fondo del box */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 20px;
}

.user-details {
  margin-top: 20px;
}

.user-details p {
  font-size: 16px;
  color: #555555;
  margin: 5px 0;
}

.buttons {
  margin-top: 20px;
}

.profile-button {
  font-size: 18px;
  color: #ffffff;
  background-color: #FF80AB; /* Color del botón */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button a {
  text-decoration: none;
  color: #ffffff;
  
}

.profile-button:hover {
  background-color: #ca2d61; /* Color más oscuro al pasar el cursor */
}



/* Estilos para los botones e input en la sección de cambiar foto de perfil */
.SelectImg {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  width: 200px;
  cursor: pointer;
}

.cambiarImg {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FF80AB;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cambiarImg:hover {
  background-color: #ca2d61; /* Color más oscuro al pasar el cursor */
}
